<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/styles/hellaStyle.css">
</head>

<body>
    <header>
            <%- include('./layout/header', {})  %>
    </header>
    <main>
        <div class = container1>
            <div class = "container" id="corey">
                <img src ="assets/displayed/corey.jpg" class ="image">
                <div class ="middle">
                <p class ="text">sadhfahsdflsadkhf lakshfd lkashflsahdf lhsadfl hsadlkfh saldkfh lkash flsadk</p>
                </div>
            </div>
            <div class = "container" id="leyla">
                <img src ="assets/displayed/leyla.jpg" class ="image">
                <div class ="middle">
                <p class ="text">jkdsbkjg gsjh sajkg kjsa gkj hsakgjh sakjdgjkashdg kasgaksjdhgkj sagkjashdg kjashg </p>
                </div>
            </div>
            <div class = "container" id="benjamin">
                <img src ="assets/displayed/leyla.jpg" class ="image">
                <div class ="middle">
                <p class ="text">jsdhajshg jsagkh sahg kasj gkjshdgkj sakgh asjkghksajdhgkjashgkasgk jaskgjhksajg h</p>
                </div>
            </div>
            <div class = "container" id="bradley">        
                <img src ="assets/displayed/fullsizeoutput_e0.jpeg" class ="image">
                <div class ="middle">
                <p class ="text">kjdhsakj hksg hasjhg kasjgh ksagkjsa gksah gkjhsad khskjd gksaj gkjashgkjsag</p>
                </div>
            </div>
            <div class = "container" id="lyndsey">
                <img src ="assets/displayed/lyndsey_camping_image.jpg" class ="image">
                <div class ="middle">
                <p class ="text">jhkjs hdkjashdkj ghaskdghksja hgksajhgksaj hgkasg kjas hgkashdkjgh askdghkasj ghkjas g</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('./layout/footer', {})  %>
    </footer>
</body>
</html>
