<!DOCTYPE html>
<html lang="en">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/styles/menu.css">
    <link rel='stylesheet' href="/styles/hellaStyle.css">
    <!-- <link rel='stylesheet' href="/styles/style.css"> -->


    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

    
</head>

<body>
    <header>
        <div class = "top">
            <img id="logo-vector" src="/assets/displayed/logo_vector.png">
            <h1 id="title">S'mores: Camping Explorer</h1>
        <nav class ="hamburgerMenu">
            <div class="menu-icon"></div>
            <div class="logo"></div>
            <div class="menu-wrap">
                    <input type="checkbox" class="toggler">
                <div class="hamburger"><div></div></div>
                <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/aboutMe">About Team</a></li>
                            
                        </ul>

                    </div>
                </div>
                </div>
        </nav>
        
    </header>
    <main>
        <div class = container1>
            <div class = "container" id="corey">
                <img src ="assets/displayed/coreychang.jpg" class ="image">
                <div class ="middle">
                <p class ="text"><strong> Hi, I Corey Chang and i moved to seattle about 6 years ago. Always loved anything tech, got the chance to coome to codefellows, so here i am. </strong><br>Corey did this awesome page.</p>
                </div>
            </div>
            <div class = "container" id="leyla">
                <img src ="assets/displayed/leyla.jpg" class ="image">
                <div class ="middle">
                <p class ="text">Leyla Li. Hi, I am from China and got my master's degree in International Education And Development in UK. After moving to Seattle, I became a preschool teacher and now I am a software developer.</p>
                </div>
            </div>
            <div class = "container" id="benjamin">
                <img src ="assets/displayed/ben.jpg" class ="image">
                <div class ="middle">
                <p class ="text">Benjamin Clark<br>~ Married & have 2 kids<br> ~ Founder/owner of theDecalGuru.com<br>
           ~ Started Seattle Profit Pirates, ecommerce entrepreneur Meetup</p>
                </div>
            </div>
            <div class = "container" id="bradley">        
                <img src ="assets/displayed/fullsizeoutput_e0.jpeg" class ="image">
                <div class ="middle">
                <p class ="text">Bradley Elliott. A software developer, dog-enthusiast and local multi-media artist looking to take my creativity to the next technical level.</p>
                </div>
            </div>
            <div class = "container" id="lyndsey">
                <img src ="assets/displayed/lyndsey_camping_image.jpg" class ="image">
                <div class ="middle">
                <p class ="text">Lyndsey Thomas. Hi! I am a dog-mom, and beer enthusiast, and I was previously army. I took a leap of faith into coding, and there's no looking back now.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('./layout/footer', {})  %>
    </footer>
</body>
</html>
