<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/styles/hellaStyle.css">
</head>

<body>
    <header>
        <div class = "top">
            <img id="logo-vector" src="/assets/displayed/logo_vector.png">
            <h1>S'mores: Camping Explorer</h1>
        <a href="/">Search</a>
        </div>
        
    </header>
    <main>
        <div class = container1>
            <div class = "container" id="corey">
                <img src ="assets/displayed/coreychang.jpg" class ="image">
                <div class ="middle">
                <p class ="text">Corey Chang, From Hawaii.</p>
                </div>
            </div>
            <div class = "container" id="leyla">
                <img src ="assets/displayed/leyla.jpg" class ="image">
                <div class ="middle">
                <p class ="text">Leyla Li</p>
                </div>
            </div>
            <div class = "container" id="benjamin">
                <img src ="assets/displayed/ben.jpg" class ="image">
                <div class ="middle">
                <p class ="text">Benjamin Clark</p>
                </div>
            </div>
            <div class = "container" id="bradley">        
                <img src ="assets/displayed/fullsizeoutput_e0.jpeg" class ="image">
                <div class ="middle">
                <p class ="text">Bradley Elliott</p>
                </div>
            </div>
            <div class = "container" id="lyndsey">
                <img src ="assets/displayed/lyndsey_camping_image.jpg" class ="image">
                <div class ="middle">
                <p class ="text">Lyndsey Thomas</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('./layout/footer', {})  %>
    </footer>
</body>
</html>
