<!-- this.descripton = c.filter(e => e.attr === 'description')[0].value;
  this.reservationURL = c.filter(e => e.attr === 'fullReservationUrl')[0].value;
  this.drivingDirections = c.filter(e => e.attr === 'drivingDirection')[0].value;
  this.facilityName = c.filter(e => e.attr === 'facility')[0].value;
  this.latitude = c.filter(e => e.attr === 'latitude')[0].value;
  this.longitude = c.filter(e => e.attr === 'longitude')[0].value;
  this.phoneNumber = c.filter(e => e.attr === 'number')[0].value;
  this.city = c.filter(e => e.attr === 'city')[0].value;
  this.streetAddress = c.filter(e => e.attr === 'streetAddress')[0].value;
  this.zip = c.filter(e => e.attr === 'zip')[0].value;
  this.photos -->


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel='stylesheet' href="/styles/base.css">
    <!-- <link rel="stylesheet" href="/public/styles/style.css"> -->

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title>Document</title>
    <!-- this is CSS for map -->

    <script id="first-script"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/views/style.css">

    <!-- this is CSS for map - DO NOT REMOVE -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- this is import script for map -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

    <title>Document</title>

</head>

<body>

    <header>


        <%- include('./layout/header', {})  %>

    </header>


    <main>

        <h1>THIS IS THE camp detail page</h1>
        <h2>INSERT: camp data here</h2>


    </main>

    <footer>

        <%- include('./layout/footer', {})  %>

    </footer>


</body>

</html>