<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/styles/reset.css">
  <link rel='stylesheet' href="/styles/base.css">
<<<<<<< HEAD
  <link rel='stylesheet' href="/styles/menu.css">
  <!-- <link rel="stylesheet" href="/public/styles/style.css"> -->
=======
  <link rel='stylesheet' href="/styles/searchBar.css">
  <!-- <link rel="stylesheet" href="/styles/style.css"> -->
>>>>>>> ef6da9731b4e4c98ea333561faa508adf976dacc

  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

  <title>Document</title>
  <!-- this is CSS for map -->

  <script id="first-script"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/views/style.css">

  <!-- this is CSS for map - DO NOT REMOVE -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- this is import script for map -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

  <title>Document</title>

</head>

<body>

  <header>


    <%- include('./layout/header', {})  %>

  </header>


  <main>
<<<<<<< HEAD
    <h1>THIS IS THE HOME PAGE</h1>
    <h2>INSERT: our hero imagery here</h2>


=======
    <div id="cover">
        <div class="tb">
          <div class="td"><input type="text" placeholder="Search" required></div>
          <div class="td" id="s-cover">
              <span></span>
          </div>
        </div>
    </div>
>>>>>>> ef6da9731b4e4c98ea333561faa508adf976dacc
  </main>

  <footer>

    <%- include('./layout/footer', {})  %>

  </footer>


</body>

</html>