<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAP TEST</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
    <style>
        #mapid {
            height: 400px;

        }
    </style>
    <script src="map-test.js"></script>
</head>

<body>

    <header>
        <h1>This is the map test</h1>
    </header>

    <main>
        <div id="mapid"></div>
    </main>

    <footer>

    </footer>

    <script>
        var mymap = L.map('mapid').setView([47.8451167, -121.8730556], 9);
        const attribution = '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors';
        const tileURL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileURL, { attribution });
        tiles.addTo(mymap);

        var myIcon = L.icon({
            iconUrl: 'tent-test.png',
            iconSize: [50, 50],
            iconAnchor: [25, 25],
            popupAnchor: [0, -20]
        });
        var marker = L.marker([47.8451167, -121.8730556], { icon: myIcon }).addTo(mymap);
        marker.bindPopup("1");
        var marker2 = L.marker([47.8, -121.8], { icon: myIcon }).addTo(mymap);
        marker2.bindPopup("2");


    </script>

</body>

</html>