<!-- recieves an array of CampgroundSummary objects called 'camps' from server -->

<header>
  <div>
    <a href="/">
      <h1>S'mores: Camping Explorer</h1>
    </a>
  </div>
  <nav>
    <div class="menu-icon"></div>
    <div class="logo"></div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Index</a></li>
    </ul>
  </nav>
  <div class="searchbar">
    <input type="text" placeholder="Enter location">
  </div>

</header>

<body>
  <% camps.forEach(camp => { %>

  <p><%= camp.availabilityStatus %></p>
  <p><%= camp.facilityName %></p>
  <a class="details-link">Camp details go here</a>

  </div>
  <% }) %>

</body>

<footer>
  <div class="footer">
    <img src="/assets/reference/rv-camping-doodle.jpg" />
  </div>
</footer>