<!-- VAR forcastStr is injected EXAMPLE: '47d61n122d33/seattle/' -->
<!-- VAR cityName is injected EXAMPLE: 'Los Angeles' -->


<section class="search-weather">

    <script>

        function renderWeather(document, script, weatherID) {
            if (document.getElementById(weatherID))
                document.getElementById(weatherID).remove();

            var fjs = document.getElementsByTagName(script)[0];
            // console.log(document.getElementsByTagName(script));

            // create and insert new weather script
            let js;
            js = document.createElement(script);
            js.id = weatherID;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);

        }
        renderWeather(document, 'script', 'weatherwidget-io-js');

    </script>
    <a class="weatherwidget-io" href="https://forecast7.com/en/<%= forcastStr %>" data-label_1="<%= cityName %>"
        data-label_2="WEATHER" data-theme="pure" data-font="Play" data-icons="Climacons Animated" ><%= cityName %>
        Weather</a>

</section>