    /* Styles */
    @media only screen and (min-width: 768px){
    body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../assets/displayed/hero_image.jpg);
    background-color: black; 
    height: 100t0px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: white; 
    font-family: 'Amatic SC', cursive;
    }

    .search-results {
        color: white;
        border-radius: 25px;
        font-family: 'Neucha', cursive;
        background: rgba(0, 0, 0, 0.7);
    }

    .camp-summary {
        text-align: center;
        background: rgba(83, 100, 80, 0.7);
        border-radius: 25px; 
        color: white;
        font-size: 25px; 
        margin: 7px;
        padding: 7px; 
    }

    p {
        /* border: 2px solid orange; */
        color: white;
        font-size: 25px; 
        opacity: 100%;
    }

    #details {
    font-family: 'Amatic SC', cursive;
    font-style: italic;
    }

    a:link {
        color: white; 
        text-decoration: none;
    }

    a:visited {
    color: white;
    text-decoration: none;
    }

    a:hover {
        color: #652F08;
        text-decoration: none;
    }


    header {
    font: white; 
    text-decoration: none;
    background-color: black;
    text-align: center;
    }

    a > h1 {
    background-color: black;
    height: 85%;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    text-align: center; 
    }

    main {
    height: 90%;
    width: 90%;
    margin: auto;
    font: white;
    text-decoration: none;
    }

    footer{
        text-align: center;
        position: fixed;
    }

    h2 {
    color: rgb(209, 219, 14);
    
    }

    h1 {
    color: rgb(209, 219, 14);
    /* float: right; */
    }

    #logo-vector {   
    height: 50px;
    width: 50px; 
    } */
}


    /* Styles mobile */

    body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../assets/displayed/hero_image.jpg);
    background-color: black; 
    height: 1000px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: white; 
    font-family: 'Amatic SC', cursive;
    }

    .search-results {
        color: white;
        border-radius: 25px;
        font-family: 'Neucha', cursive;
        background: rgba(0, 0, 0, 0.7);
    }

    .camp-summary {
        text-align: center;
        background: rgba(83, 100, 80, 0.7);
        border-radius: 25px; 
        color: white;
        font-size: 25px; 
        margin: 7px;
        padding: 7px; 
    }

    p {
        /* border: 2px solid orange; */
        color: white;
        font-size: 25px; 
        opacity: 100%;
    }

    #details {
    font-family: 'Amatic SC', cursive;
    font-style: italic;
    }

    a:link {
        color: white; 
        text-decoration: none;
    }

    a:visited {
    color: white;
    text-decoration: none;
    }

    a:hover {
        color: #652F08;
        text-decoration: none;
    }


    header {
    font:white; 
    text-decoration: none;
    background-color: black;
    text-align: center;
    }

    a > h1 {
    background-color: black;
    height: 85%;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    text-align: center; 
    }

    main {
    height: 90%;
    width: 90%;
    margin: auto;
    font: white;
    text-decoration: none;
    }

    footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    }

    h2 {
    color: rgb(209, 219, 14);
    }

    h1 {
    color: rgb(209, 219, 14);
    /* float:right;  */
    }

    #logo-vector {  
    height: 50px;
    width: 50px; 
    position: center;
    }

