<section class="header">
    
    <div>
        <a href="/">
            
            <h1>S'mores: Camping Explorer</h1>
            <img id="logo-vector" src="/assets/displayed/logo_vector.png">

        </a>
    </div>
    
    <nav>
        <div class="menu-icon"></div>
        <div class="logo"></div>
        <div class="menu-wrap">
                <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href=>About</a></li>
                        <li><a href="#">Index</a></li>
                    </ul>
                </div>
            </div>
            </div>
    </nav>
    <header class="showcase">
            <div class="container showcase-inner">
                <h1></h1>
                <p>Camping made FUN!</p>
                <div class="searchbar">
                        <input type="text" placeholder="Enter location">
                </div>
            </div>
    </header>

</section>