<section class="header">
    
    <div>
        <a href="/">
            
            <h1>S'mores: Camping Explorer</h1>
            <img id="logo-vector" src="/assets/displayed/logo_vector.png">

        </a>
    </div>
    
    <nav>
        <div class="menu-icon"></div>
        <div class="logo"></div>
        <div class="menu-wrap">
                <input type="checkbox" class="toggler">
<<<<<<< HEAD
                <div class="hamburger"><div></div></div><div>
                <div class="menu">
                  <div>
                    <div>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/aboutMe">About</a></li>
                            </ul>
                      
                    </div>
                  </div>
=======
            <div class="hamburger"><div></div></div>
            <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href=>About</a></li>
                        <li><a href="#">Index</a></li>
                    </ul>
>>>>>>> 8234f08abf112f205f9798a0d0ac0144dd743a9f
                </div>
            </div>
            </div>
    </nav>
<<<<<<< HEAD

=======
    <header class="showcase">
            <div class="container showcase-inner">
                <h1></h1>
                <p>Camping made FUN!</p>
                <div class="searchbar">
                        <input type="text" placeholder="Enter location">
                </div>
            </div>
    </header>
>>>>>>> 8234f08abf112f205f9798a0d0ac0144dd743a9f

</section>